<div class='col-md-3 col-xs-12 col-sm-6 col-lg-3 product_grid'>
  <a href='/products/<%= product.id %>'><h1><%= product.name %></h1></a>
  <%= image_tag(product.image_url, class: "img-responsive") %>
  <p>Description: <%= product.description %></p>
  <p>Color: <%= product.color %></p>
  <p><strong>$<%= product.price %></strong></p>
  <div class='product_button'>
    <button><%= link_to 'Show', product %></button>
    <button><%= link_to 'Edit', edit_product_path(product) %></button>
    <button><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  </div>
</div>